{% extends 'base.html' %}
{% load avatar_tags %}
{% load effigia_extras %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="page-header">
                <h1>{{ group.name }} <sup data-toggle="tooltip" data-placement="top" title="Private Group. Join first to interact with posts."><i class="fa fa-lock"></i></sup></h1>
                <em class="text-muted">Created by <a href="">@{{ group.created_by }}</a> on {{ group.created }}</em>
                <p><i class="fa fa-chevron-circle-right"></i>&nbsp;  {{ group.description }}</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#post-create"><i class="fa fa-pencil-square-o"></i> Write a Post</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            {% if posts.count > 0 %}
                {% for post in posts.all %}
                <hr>
                <div class="media">
                    <div class="media-left">
                        <a href="{% url 'gallery:list-by-user' post.created_by %}">
                            {% avatar post.created_by 65 class='avatar-circle' %}
                        </a>
                    </div>
                    <div class="media-body">
                        <em><a href="{% url 'gallery:list-by-user' post.created_by %}">@{{ post.created_by }}</a> posted:</em>
                        <p>{{ post.description|linebreaksbr }}</p>
                        <p class="text-right">
                            <span class="text-muted">Posted on {{ post.created }}</span>
                            <a href="" class="spacify-action btn btn-xs">
                                {% if post.likes %}
                                <i class="fa fa-heart-o"></i>&nbsp; Like
                                {% else %}
                                <i class="fa fa-heart"></i>&nbsp; Liked
                                {% endif %}
                                {% if post.likes.count > 0 %}
                                <span class="badge">{{ post.likers.count }}</span>
                                {% endif %}
                            </a>
                            <a href="{% url 'post:item' post.slug %}" class="spacify-action btn btn-xs">
                                <i class="fa fa-commenting-o"></i>&nbsp; Comments
                                {% if post.comments.count > 0 %}
                                <span class="badge">{{ post.comments.count }}</span>
                                {% endif %}
                            </a>
                        </p>
                    </div>
                </div>
                {% endfor %}
            {% else  %}
                <div class="well">
                    <em class="text-muted">No posts to display here yet. Be the first.</em>
                </div>
            {% endif %}
            {% if all_posts_count > 20 %}
                {% url 'group:item' group.slug as next_url %}
                {% include 'partials/pagination.html' with next_url=next_url %}
            {% endif %}
        </div>
        <div class="col-sm-4">
            <div class="well">
                Online (12)
            </div>
        </div>
    </div>

    <div class="modal fade" id="post-create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Write a Post</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'post:create' group.slug %}" id="post-form" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ post_create_form.description|limit_textarea_rows:10 }}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button form="post-form" class="btn btn-danger btn-sm">Post</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
