coverage==4.4.1
Django==1.11.3
django-allauth==0.32.0
django-extensions==1.8.1
django-guardian==1.4.9
django-haystack==2.6.1
django-imagekit==4.0.1
django-jsonfield==1.0.1
django-nose==1.4.4
elasticsearch==5.4.0
factory-boy==2.8.1
google-cloud-storage==1.2.0
gunicorn==19.7.1
pilkit==2.0
Pillow==4.2.1
psycopg2==2.7.1

-e git+https://github.com/justquick/django-activity-stream.git#egg=actstream
-e git+https://github.com/jschneier/django-storages.git#egg=django-storages
-e git+https://github.com/leduchuy89vn/django-wpadmin.git#egg=django-wpadmin
