coverage==4.3.4
Django==1.11.1
django-allauth==0.32.0
django-extensions==1.7.8
django-guardian==1.4.8
django-haystack==2.5.1
django-imagekit==4.0.1
django-nose==1.4.4
django-npm==1.0.0
django-termsandconditions==1.1.14 
elasticsearch==5.4.0
factory-boy==2.8.1
gunicorn==19.7.1
psycopg2==2.7.1

git+https://github.com/leduchuy89vn/django-wpadmin.git#egg=django-wpadmin