.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.navbar-brand, .brand-heading {
    font-family: 'Artifika', serif;
    text-transform: lowercase;
}

.nanobar {
    top: 99%;
    height: 6px;
    bottom: 0;
}

.bar {
    background: #38f;
    border-radius: 4px;
    box-shadow: 0 0 10px #59d;
    margin: 0 auto;
}

.footer-hr {
    margin-top: 50px;
}

.thumb {
    margin-bottom: 30px;
}

.group-thumb {
    height: 300px;
}

.comment-overflow {
    font-size: 85%;
    max-height: 350px;
    overflow-y: auto;
}

.spacify-action {
    margin-left: 10px;
}

.chat-panel {
    overflow-y: auto;
    max-height: 400px;
}

.chat-sidebar-panel {
    overflow-y: auto;
    height: 550px;
}

.message-bubble {
    font-size: 85%;
}

.bubble-gray {
    background-color: #556677;
}

.bubble-blue {
    background-color: #375a7f;
}

.follow-form {
    display: inline;
}

.socialaccount_google {
    background-color: #db4437;
}

.socialaccount_facebook {
    background-color: #4267b2;
}

.socialaccount_twitter {
    background-color: #0088cc;
}

