{% load effigia_extras %}


<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active">
        <a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments <span class="badge">{{ object.comments.count }}</span></a>
    </li>
    <li role="presentation">
        <a href="#followers" aria-controls="followers" role="tab" data-toggle="tab">Followers</a>
    </li>
    {% if object.likes.count > 0 %}
        <li role="presentation">
            <a href="#likers" aria-controls="likers" role="tab" data-toggle="tab">Likers <span class="badge">{{ object.likes.count }}</span></a>
        </li>
    {% endif %}
</ul>
<hr>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="comments">
        <ul class="list-group">
            <div class="comment-overflow">
                {% if object.comments.count > 0 %}
                    {% for comment in object.comments.all %}
                    <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="{{ comment.created }}">
                        <strong>
                            <a href="{% url 'account_profile' comment.created_by.username %}">@{{ comment.created_by.username }}</a>:
                        </strong>
                        {{ comment.text|linebreaksbr }}
                        <p class="text-right">
                            <a href="">
                                <i class="fa fa-heart-o"></i>Like
                                {% if comment.likes.count > 0 %}
                                <span class="badge">{{ comment.likes.count }}</span>
                                {% endif %}
                            </a>
                        </p>
                    </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">
                        <em class="text-muted">No comments here yet. Be the first.</em>
                    </li>
                {% endif %}
                <!-- <li class="list-group-item text-center">
                    <a href="">See 304 more comments...</a>
                </li> -->
            </div>
            <li class="list-group-item">
                <form action="{% url 'interaction:comment-create' content_type object.pk %}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ comment_form.text|limit_textarea_rows:3 }}
                    </div>
                    <div class="form-group text-right">
                        <button class="btn btn-primary btn-sm"><i class="fa fa-commenting-o"></i>Add Comment</button>
                    </div>
                </form>
            </li>
        </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="likers">
        <ul class="list-group">
        {% for like in object.likes.all %}
            <li class="list-group-item">
                <a href="{{ like.liker.get_absolute_url }}">{{ like.liker }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="followers">...</div>
</div>
