<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <hr class="footer-hr">
            <footer id="footer">
                <p class="text-center">
                    &copy; 2017 <a rel="nofollow" href="http://lemurheavy.com">Effigia</a> &middot;
                    <a href="https://github.com/aldwyn/effigia/issues">Open an Issue</a> &middot;
                    <a rel="nofollow" href="mailto:aldwyn.up@gmail.com">Webmaster</a> &middot;
                    <a rel="nofollow" href="mailto:aldwyn.up@gmail.com">Feedback</a> &middot;
                    <a target="_blank" href="https://twitter.com/dwynbitch">Webmaster's Twitter</a>
                </p>
            </footer>
        </div>
    </div>
</div>
