<nav aria-label="...">
    <ul class="pager">
        <li class="previous {% if page_obj.number == 1 %}disabled{%endif%}">
            <a href="{% url 'gallery:list' %}?page={% if page_obj.previous_page_number >= 1 %}{{page_obj.previous_page_number}}{%else%}{{page_obj.number}}{%endif%}"><span aria-hidden="true">&larr;</span> Previous</a></li>
        <li class="next {% if page_obj.next_page_number >= page_obj.paginator.num_pages %}disabled{%endif%}">
            <a href="{% url 'gallery:list' %}?page={{ page_obj.next_page_number }}">Next <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>
