{% extends 'base.html' %}

{% load imagekit %}

{% block content %}
<div class="container">
    <div class="row">
        {% if page_header == 'All Galleries' %}
        <div class="col-lg-6">
            <h1 class="page-header">{{ page_header }}
                <small>({{ all_galleries_count }} galleries)</small>
            </h1>
        </div>
        <div class="col-lg-6">
            <div class="page-header text-right">
                <div class="row">
                    <div class="col-md-8">
                        <form role="search">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                                    <input type="text" class="form-control" placeholder="Search for galleries..." aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'gallery:create' %}" class="btn btn-warning"><i class="fa fa-plus-square"></i>&nbsp; Create your own</a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-lg-12">
            <h1 class="page-header">{{ page_header }}
                <small>({{ all_galleries_count }} galleries)</small>
            </h1>
        </div>
        {% endif %}
    </div>

    <div class="row">
        {% for gallery in galleries %}
            {% generateimage 'gallery-thumbnail' source=gallery.cover_image as gallery_cover %}
            <div class="col-sm-4">
                <div class="gallery-card slide-up">
                    <div class="gallery-card-image" style="background-image: url({{ gallery_cover.url }})">
                        <strong>{{ gallery.name }}</strong> by <em>@{{ gallery.created_by }}</em>
                    </div>
                    <div class="gallery-card-caption">
                        <a href="{% url 'gallery:item' gallery.slug %}">
                            <h4>
                                <i class="fa fa-chevron-circle-right"></i>&nbsp;
                                <strong>{{ gallery.name }}</strong>
                            </h4>
                        </a>
                        <div class="gallery-card-caption-desc">
                            Curated by  <a href="">@{{ gallery.created_by }}</a> | {{ gallery.portfolios.count }} portfolios
                            <p class="text-muted">
                                {{ gallery.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-md-4">
                <em class="text-muted">No galleries to show here yet.</em>
            </div>
        {% endfor %}
    </div>

    {% if all_galleries_count > 15 %}
        {% url 'gallery:list' as next_url %}
        {% include 'partials/pagination.html' with next_url=next_url %}
    {% endif %}

</div>
{% endblock %}
