{% extends 'base.html' %}
{% load imagekit %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="page-header">{{ page_header }}
                {% with galleries_count=page_obj.paginator.object_list.count %}
                    <small>({{ galleries_count }} galler{{ galleries_count|pluralize:'y,ies' }})</small>
                {% endwith %}
            </h1>
        </div>
        <div class="col-lg-6">
            <div class="page-header text-right">
                <div class="row">
                    <div class="col-md-8">
                        <form role="search" action="">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                                    <input type="text" class="form-control" name="q" value="{{ query }}" placeholder="Search for galleries, users..." aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'gallery:create' %}" class="btn btn-block btn-warning"><i class="fa fa-plus-square"></i>Create your own</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for gallery in galleries %}
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="{{ gallery.get_absolute_url }}">
                        {% generateimage 'gallery-thumbnail' source=gallery.cover_image -- class="img-responsive" alt=gallery.name %}
                    </a>
                    <div class="caption">
                        <a href="{{ gallery.get_absolute_url }}">
                            <strong>{{ gallery.name }}</strong>
                        </a>
                        <p class="text-muted">
                            {% with portfolios_count=gallery.portfolios.count %}
                                <a href="{{ gallery.created_by.get_absolute_url }}">{{ gallery.created_by }}</a>
                                | {{ portfolios_count }} portfolio{{ portfolios_count|pluralize }}
                            {% endwith %}
                        </p>
                        <p class="text-muted gallery-card-caption-desc">
                            {{ gallery.description|slice:':75' }}...
                        </p>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-md-4">
                <div class="well">
                    <em class="text-muted">No galleries to show here.</em>
                </div>
            </div>
        {% endfor %}
    </div>

    {% url 'gallery:list' as next_url %}
    {% include 'partials/pagination.html' %}

</div>
{% endblock %}
