{% extends 'base.html' %}
{% load highlight %}
{% load imagekit %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="page-header">{{ page_header }}
                <small>({{ all_galleries_count }} galleries)</small>
            </h1>
        </div>
        <div class="col-lg-6">
            <div class="page-header text-right">
                <div class="row">
                    <div class="col-md-8">
                        <form role="search" action="">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                                    <input type="text" class="form-control" name="q" value="{{ query }}" placeholder="Search for galleries..." aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'gallery:create' %}" class="btn btn-block btn-warning"><i class="fa fa-plus-square"></i>Create your own</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for result in galleries %}
            {% with gallery=result.object %}
                {% generateimage 'gallery-thumbnail' source=gallery.cover_image as gallery_cover %}
                <div class="col-sm-4">
                    <div class="gallery-card slide-up">
                        <div class="gallery-card-image" style="background-image: url({{ gallery_cover.url }})">
                            {% if query %}
                                <strong>
                                    {% highlight gallery.name with query css_class 'search-highlight' %}
                                </strong>
                                by <em>@{% highlight gallery.created_by with query css_class 'search-highlight' %}</em>
                            {% else %}
                                <strong>{{ gallery.name }}</strong>
                                by <em>@{{ gallery.created_by }}</em>
                            {% endif %}
                        </div>
                        <div class="gallery-card-caption">
                            <a href="{% url 'gallery:item' gallery.slug %}">
                                <h4>
                                    <i class="fa fa-chevron-circle-right"></i>&nbsp;
                                    <strong>
                                        {% if query %}
                                            {% highlight gallery.name with query css_class 'search-highlight' %}
                                        {% else %}
                                            {{ gallery.name }}
                                        {% endif %}
                                    </strong>
                                </h4>
                            </a>
                            <div class="gallery-card-caption-desc">
                                Curated by  <a href="{% url 'account_profile' gallery.created_by %}">@{{ gallery.created_by }}</a> | {{ gallery.portfolios.count }} portfolios
                                <p>
                                    {% if query %}
                                        {% highlight gallery.description with query html_div 'span' css_class 'search-highlight' %}
                                    {% else %}
                                        {{ gallery.description }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% empty %}
            <div class="col-md-4">
                <div class="well">
                    <em class="text-muted">No galleries to show here yet.</em>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if all_galleries_count > page_obj.paginator.per_page %}
        {% url 'gallery:list' as next_url %}
        {% include 'partials/pagination.html' with next_url=next_url %}
    {% endif %}

</div>
{% endblock %}
