{% extends 'base.html' %}

{% load effigia_extras %}

{% block content %}
<div class="row">
    <div class="col-sm-3">
        <div class="list-group">
            <div class="chat-sidebar-panel">
                <a href="" class="list-group-item active">
                    <strong>Taylor Swift</strong> &rarr;
                    <br>
                    <em class="text-muted">I'm feeling 22, everyth...</em>
                </a>
                <a href="" class="list-group-item">
                    <strong>Katy Perry</strong> &rarr;
                    <br>
                    <em class="text-muted">I'm feeling 22, everyth...</em>
                </a>
                <a href="" class="list-group-item">
                    <strong>Miley Cyrus</strong> &rarr;
                    <br>
                    <em class="text-muted">I'm feeling 22, everyth...</em>
                </a>
                <a href="" class="list-group-item">
                    <strong>Onika Tanya Maraj</strong> &rarr;
                    <br>
                    <em class="text-muted">I'm feeling 22, everyth...</em>
                </a>
                <a href="" class="list-group-item">
                    <strong>Taylor Swift</strong> &rarr;
                    <br>
                    <em class="text-muted">I'm feeling 22, everyth...</em>
                </a>
                <a href="" class="list-group-item">
                    <strong>Katy Perry</strong> &rarr;
                    <br>
                    <em class="text-muted">I'm feeling 22, everyth...</em>
                </a>
                <a href="" class="list-group-item">
                    <strong>Miley Cyrus</strong> &rarr;
                    <br>
                    <em class="text-muted">I'm feeling 22, everyth...</em>
                </a>
                <a href="" class="list-group-item">
                    <strong>Onika Tanya Maraj</strong> &rarr;
                    <br>
                    <em class="text-muted">I'm feeling 22, everyth...</em>
                </a>
                <a href="" class="list-group-item   ">
                    <strong>Taylor Swift</strong> &rarr;
                    <br>
                    <em class="text-muted">I'm feeling 22, everyth...</em>
                </a>
                <a href="" class="list-group-item">
                    <strong>Katy Perry</strong> &rarr;
                    <br>
                    <em class="text-muted">I'm feeling 22, everyth...</em>
                </a>
                <a href="" class="list-group-item">
                    <strong>Miley Cyrus</strong> &rarr;
                    <br>
                    <em class="text-muted">I'm feeling 22, everyth...</em>
                </a>
                <a href="" class="list-group-item">
                    <strong>Onika Tanya Maraj</strong> &rarr;
                    <br>
                    <em class="text-muted">I'm feeling 22, everyth...</em>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="well chat-panel">
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    <div class="well well-sm message-bubble bubble-blue">
                        <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Sed porttitor lectus nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="well well-sm message-bubble bubble-gray">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    <div class="well well-sm message-bubble bubble-blue">
                        <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="well well-sm message-bubble bubble-gray">
                        <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Sed porttitor lectus nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9  col-md-offset-3">
                    <div class="well well-sm message-bubble bubble-blue">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    <div class="well well-sm message-bubble bubble-blue">
                        <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ message_form.body|limit_textarea_rows:3 }}
                    </div>
                    <div class="form-group text-right">
                        <button class="btn btn-primary btn-sm"><i class="fa fa-send"></i>&nbsp; Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="well">
            <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="">
            </div>
            <div class="h4">Taylor Swift</div>
            <p class="text-muted">Active 1 minute ago</p>
            <hr>
            <a href="" class="btn btn-sm btn-warning">
                <i class="fa fa-eye"></i>&nbsp; View Gallery
            </a>
            <a href="" class="btn btn-sm btn-danger">
                <i class="fa fa-flag"></i>&nbsp; Report
            </a>
        </div>
    </div>
</div>


{% endblock %}
