{% extends 'base.html' %}
{% load effigia_extras %}

{% block content %}
<div class="container">
    <div id="dashboard-tab" class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs text-right">
                {% url 'dashboard:my-galleries' as my_galleries_url %}
                {% url 'dashboard:my-activities' as my_activities_url %}
                {% url 'dashboard:following-all' as following_all_url %}
                <li role="presentation" class="{% if request.path == my_galleries_url %}active{% endif %}">
                    <a href="{{ my_galleries_url }}">My Creations</a>
                </li>
                <li role="presentation" class="{% if request.path|startswith:following_all_url %}active{% endif %}">
                    <a href="{{ following_all_url }}">Following</a>
                </li>
                <li role="presentation" class="{% if request.path|startswith:'/dashboard/my-activities' %}active{% endif %}">
                    <a href="{% url 'dashboard:my-activities' %}">My Activities</a>
                </li>
            </ul>
        </div>
    </div>
    {% block dashboard %}{% endblock %}
</div>
{% endblock %}
