{% extends 'base.html' %}
{% load effigia_extras %}

{% block content %}
<div class="container">
    <div id="dashboard-tab" class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs text-right">
                <li role="presentation" class="{% if request.path|startswith:'/dashboard/my-galleries' %}active{% endif %}">
                    <a href="{% url 'dashboard:my-galleries' %}">My Creations</a>
                </li>
                <li role="presentation" class="{% if request.path|startswith:'/dashboard/following' %}active{% endif %}">
                    <a href="{% url 'dashboard:following' %}">Following</a>
                </li>
                <li role="presentation" class="{% if request.path|startswith:'/dashboard/my-activities' %}active{% endif %}">
                    <a href="{% url 'dashboard:my-activities' %}">My Activities</a>
                </li>
            </ul>
        </div>
    </div>
    {% block dashboard %}{% endblock %}
</div>
{% endblock %}
