{% extends 'base.html' %}
{% load effigia_extras %}

{% block content %}
<div class="container">
    <div id="dashboard-tab" class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
                {% url 'dashboard:my-galleries' as my_galleries_url %}
                {% url 'dashboard:feeds-all' as feeds_all_url %}
                {% url 'dashboard:followings-users' as followings_users_url %}
                {% url 'dashboard:my-activities' as my_activities_url %}
                <li role="presentation" class="{% if request.path|startswith:feeds_all_url %}active{% endif %}">
                    <a href="{{ feeds_all_url }}">Feeds</a>
                </li>
                <li role="presentation" class="{% if request.path == my_galleries_url %}active{% endif %}">
                    <a href="{{ my_galleries_url }}">My Galleries</a>
                </li>
                <li role="presentation" class="{% if request.path|startswith:followings_users_url %}active{% endif %}">
                    <a href="{{ followings_users_url }}">Followings</a>
                </li>
                <li role="presentation" class="{% if request.path|startswith:my_activities_url %}active{% endif %}">
                    <a href="{{ my_activities_url }}">My Activities</a>
                </li>
            </ul>
        </div>
    </div>
    {% block dashboard %}{% endblock %}
</div>
{% endblock %}
