{% extends 'dashboard/base.html' %}
{% load imagekit %}
{% load avatar_tags %}
{% load effigia_extras %}

{% block dashboard %}
<div class="row">
    <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
            {% url 'dashboard:feeds-all' as following_all_url %}
            {% url 'dashboard:feeds-galleries' as following_galleries_url %}
            {% url 'dashboard:feeds-groups' as following_groups_url %}
            <li role="presentation" class="{% if request.path == following_all_url %}active{% endif %}">
                <a href="{{ following_all_url }}">
                    <i class="fa fa-circle"></i>All
                    <span class="badge pull-right">{{ all_actions_count }}</span>
                </a>
            </li>
            <li role="presentation" class="{% if request.path == following_galleries_url %}active{% endif %}">
                <a href="{{ following_galleries_url }}">
                    <i class="fa fa-circle"></i>Galleries
                    <span class="badge pull-right">12</span>
                </a>
            </li>
            <li role="presentation" class="{% if request.path == following_groups_url %}active{% endif %}">
                <a href="{{ following_groups_url }}">
                    <i class="fa fa-circle"></i>Groups
                    <span class="badge pull-right">12</span>
                </a>
            </li>
        </ul>
        <hr>
        <div id="random-quote" class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-quote-left"></i>Random Quotes
            </div>
            <div class="panel-body">
                <blockquote class="blockquote-reverse">
                    <p>{{ random_quote.text }}</p>
                    <footer>
                        <cite>{{ random_quote.author }}</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        {% for action in actions %}
        <div class="feed-card well well-sm" data-toggle="tooltip" data-placement="top" title="{{ action.timestamp }}">
            <div class="media">
                <div class="media-left">
                    <a href="{% url 'account_profile' action.actor %}">
                        {% avatar action.actor 65 class='avatar-circle' %}
                    </a>
                </div>
                <div class="media-body media-middle">
                    <p>
                        <a href="{% url 'account_profile' action.actor %}">{{ action.actor }}</a>
                        {{ action.verb }}
                        {% if action.target != user %}
                            <a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>
                        {% else %}
                            you
                        {% endif %}.
                    </p>
                    {% if action.target.created_by %}
                    <div class="media-card panel panel-default">
                        <div class="panel-body">
                            <div class="media">
                                {% with source=action.target|get_image %}
                                    {% if source %}
                                    <div class="media-left">
                                        {% generateimage 'feed-card-thumbnail' source=source -- width=80 alt=action.target %}
                                    </div>
                                    {% endif %}
                                {% endwith %}
                                <div class="media-body">
                                    <span class="h4">
                                        <a href="">{{ action.target }}</a>
                                        <small>by <a href="{% url 'account_profile' action.actor %}">@{{ action.target.created_by }}</a></small>
                                    </span>
                                    <a href="{{ action.target.get_absolute_url }}">
                                    </a>
                                    <br>
                                    <p class="media-card-description text-muted">
                                        {% if action.target.description %}
                                            {{ action.target.description|slice:':75' }}...
                                        {% else %}
                                            No description was provided.
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <div class="well">
            <em class="text-muted">No activities to display here yet. Be the first.</em>
        </div>
        {% endfor %}
        {% if page_obj.paginator.object_list.count > 0 and page_obj.number == page_obj.paginator.num_pages %}
        <div class="well well-sm text-center text-muted">
            <span>End of results.</span>
        </div>
        {% endif %}
        {% url 'group:item' group.slug as next_url %}
        {% include 'partials/pagination.html' %}
    </div>
    <div class="col-sm-3">
        {% include 'partials/people-you-may-follow.html' %}
    </div>
</div>

{% endblock %}
