{% extends 'base.html' %}

{% block content %}
<div class="row">
    <ul class="nav nav-tabs text-right">
      <li role="presentation" class="active"><a href="#">My Galleries</a></li>
      <li role="presentation"><a href="#">Following</a></li>
      <li role="presentation"><a href="#">Trending</a></li>
      <li role="presentation"><a href="#">Fresh</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-lg-6">
        <h1 class="page-header">My Galleries
            <small>({{ galleries.count }} galleries)</small>
        </h1>
    </div>
    <div class="col-lg-6">
        <div class="page-header text-right">
            <div class="row">
                <div class="col-md-4 col-md-offset-8">
                    <a href="{% url 'gallery:create' %}" class="btn btn-warning"><i class="fa fa-plus-square"></i>&nbsp; Create a Gallery</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    {% for gallery in galleries %}
    <div class="col-md-4 portfolio-item">
        <a href="{% url 'gallery:item' gallery.slug %}">
            <img class="img-responsive" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <i class="fa fa-chevron-circle-right"></i>&nbsp;
            <a href="{% url 'gallery:item' gallery.slug %}">{{ gallery.name }}</a>
        </h3>
        <p>Curated {{ gallery.portfolios.count }} portfolios by <a href="">{{ gallery.created_by.get_full_name }}</a></p>
    </div>
    {% endfor %}
</div>
<!-- Pagination -->
{% if all_galleries_count > 15 %}
    {% include 'partials/pagination.html' with next_url='gallery:list' %}
{% endif %}
<!-- /.row -->
{% endblock %}
