{% extends 'dashboard/base.html' %}
{% load imagekit %}

{% block dashboard %}

<div class="row">
    <div class="col-lg-8">
        <ul class="list-group">
        {% for action in user.actor_actions.all %}
            <li class="list-group-item">
                <i class="fa fa-circle"></i>You {{ action.verb }} <a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a> {{ action.timesince }} ago.
            </li>
        {% empty %}
            <li class="list-group-item">
                <em class="text-muted">No activities to display here yet. Be the first.</em>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% if all_actions_count > 15 %}
    {% url 'gallery:list' as next_url %}
    {% include 'partials/pagination.html' with next_url=next_url %}
{% endif %}

{% endblock %}
