{% extends 'dashboard/base.html' %}
{% load imagekit %}

{% block dashboard %}

<div class="row">
    <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
            {% url 'dashboard:feeds-all' as following_all_url %}
            {% url 'dashboard:feeds-galleries' as following_galleries_url %}
            {% url 'dashboard:feeds-groups' as following_groups_url %}
            {% url 'dashboard:followings' as following_following_url %}
            <li role="presentation" class="{% if request.path == following_all_url %}active{% endif %}">
                <a href="{{ following_all_url }}">
                    <i class="fa fa-circle"></i>All
                    <span class="badge pull-right">{{ all_actions_count }}</span>
                </a>
            </li>
            <li role="presentation" class="{% if request.path == following_groups_url %}active{% endif %}">
                <a href="{{ following_groups_url }}">
                    <i class="fa fa-circle"></i>Followings
                    <span class="badge pull-right">12</span>
                </a>
            </li>
            <li role="presentation" class="{% if request.path == following_groups_url %}active{% endif %}">
                <a href="{{ following_groups_url }}">
                    <i class="fa fa-circle"></i>Likes
                    <span class="badge pull-right">12</span>
                </a>
            </li>
            <li role="presentation" class="{% if request.path == following_following_url %}active{% endif %}">
                <a href="{{ following_following_url }}">
                    <i class="fa fa-circle"></i>Comments
                    <span class="badge pull-right">12</span>
                </a>
            </li>
            <li role="presentation" class="{% if request.path == following_galleries_url %}active{% endif %}">
                <a href="{{ following_galleries_url }}">
                    <i class="fa fa-circle"></i>Visits
                    <span class="badge pull-right">12</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9">
        <ul class="list-group">
        {% for action in actions %}
            <li class="list-group-item">
                {% if action.verb__count > 1 %}
                    <span class="badge pull-right">{{ action.verb__count }} times</span>
                {% endif %}
                <i class="fa fa-circle"></i>You {{ action.verb }} <a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a> {{ action.timesince }} ago.
            </li>
        {% empty %}
            <li class="list-group-item">
                <em class="text-muted">No activities to display here yet. Be the first.</em>
            </li>
        {% endfor %}
        </ul>
        {% url 'dashboard:my-activities' as next_url %}
        {% include 'partials/pagination.html' %}
    </div>
</div>


{% endblock %}
