{% extends 'dashboard/base.html' %}
{% load tz %}
{% load imagekit %}

{% block dashboard %}
<div class="row">
    {% for gallery in galleries %}
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="{{ gallery.get_absolute_url }}">
                    {% generateimage 'gallery-thumbnail' source=gallery.cover_image -- class="img-responsive" alt=gallery.name %}
                </a>
                <div class="caption">
                    <a href="{{ gallery.get_absolute_url }}">
                        <strong>{{ gallery.name }}</strong>
                    </a>
                    <p class="text-muted">
                        {% with portfolios_count=gallery.portfolios.count %}
                            <a href="{{ gallery.created_by.get_absolute_url }}">{{ gallery.created_by }}</a>
                            | {{ portfolios_count }} portfolio{{ portfolios_count|pluralize }}
                        {% endwith %}
                    </p>
                    <p class="text-muted gallery-card-caption-desc">
                        {{ gallery.description|slice:':75' }}...
                    </p>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col-md-4">
            <em class="text-muted">No galleries to show here yet.</em>
        </div>
    {% endfor %}
</div>

{% url 'gallery:list' as next_url %}
{% include 'partials/pagination.html' %}

{% endblock %}
